.circle {
    height: clamp(60px, 15vw, 120px);
    width: clamp(60px, 15vw, 120px);
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: grow 5s forwards;
}
@keyframes grow {
    0% {
        transform: scale(1) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: scale(3) rotate(360deg);
        opacity: 0;
    }
}